body {
	margin: 0;
	padding: 0;
	/*background-color: black;*/
}

.navbar-brand {
	font-family: 'Arvo', serif;
}


img.logo {
	height: 75px;
	margin-bottom: 7px;
	/*margin-right: 0;*/
}


div.opening{
	display: flex;
	justify-content: space-around;

}


.cont-img {
	width: 50%;
	text-align: center;
}

div.cont-img a {
	text-decoration: none;
	color: rgb(96, 123, 125);

}

.cont-img img{
	max-height: 100%;
	max-width: 100%;
}


div.opening div:last-child {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

div.opening div:last-child h1 {
	font-family: 'Fredoka One', cursive;
}


div.pre {
	margin-top: 79px;
}

.description {
	/*height: 350px;*/
	width: 100%;
	border: 2px solid rgb(130, 142, 130);
	border-radius: 11px;
	padding: 11px;
	font-family: 'Arvo', serif;
	font-size: 17px;
}


div.skill {
	/*margin-top: 55px;*/
	margin: 5% auto;
}


div.skill div.container {
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-weight: bold;
}


div.skill div.container img {
	height: 89px;
}




/*=============*/
.container-portfolio-card{
	margin: 3% auto 5% auto;
}

.portfolio-card{
	width: 100%;
	margin: 3% auto;
	display: flex;
	justify-content: center;
}


.image-cover{
	width: 30%;
	align-items: center;
	align-content: center;
	text-align: center;
}


.image-cover img{
	width: 100%;
	object-fit: cover;
	max-height: 250px;
	/*align-self: center;*/
}


.container-description{
	margin-left: 1%;
	width: 65%;
	padding: 1%;
	position: relative;
}

.text-description{
	/*padding: 5%;*/
	margin-bottom: 5%;
}

.btn-link-to{
	position: absolute;
	bottom: 1%;
	right: 1%;
}

/*=========================*/





div.contact {
	display: flex;
	justify-content: center;
}

a{
	text-decoration: none;
	color: black;
}


div.div-img {
	height: 35px;
	margin: 0px 11px;
}

.max-height-250{
	max-height: 250px;
}


.max-width{
	max-width: 100%;
}

.img-fit {
	max-height: 100%;
	max-width: 100%;
}










.closing {
	font-family: 'Arvo', serif;
	font-size: 17px;
}


footer {
	/*margin: */
	margin-top: 65px;
	font-family: 'Varela Round', sans-serif;
	font-size: 17px;
	color: white;
	/*height: 201px;*/
	width: 100%;
	/*display: flex;*/
	/*justify-content: flex-end;*/
	/*flex-direction: column;*/
	text-align: center;
	background-color: rgb(52, 142, 235);
	padding-top: 25px;
	padding-bottom: 23px;
	/*padding: 23px 0;*/

}
